@import "../../core/base";

/**智能家居-房间图标**/
.m_icon{
  &.icon1{
    background-image: url("../images/house/m_icon1.png");
  }
  &.icon2{
    background-image: url("../images/house/m_icon2.png");
  }
  &.icon3{
    background-image: url("../images/house/m_icon3.png");
  }
  &.icon4{
    background-image: url("../images/house/m_icon4.png");
  }
  &.icon5{
    background-image: url("../images/house/m_icon5.png");
  }
  &.icon6{
    background-image: url("../images/house/m_icon6.png");
  }
  &.icon7{
    background-image: url("../images/house/m_icon7.png");
  }
  &.icon8{
    background-image: url("../images/house/m_icon8.png");
  }
  &.icon9{
    background-image: url("../images/house/m_icon9.png");
  }
  &.icon10{
    background-image: url("../images/house/m_icon10.png");
  }
  &.icon11{
    background-image: url("../images/house/m_icon11.png");
  }
  &.icon12{
    background-image: url("../images/house/m_icon12.png");
  }
  &.icon13{
    background-image: url("../images/house/m_icon13.png");
  }
  &.icon14{
    background-image: url("../images/house/m_icon14.png");
  }
  &.icon15{
    background-image: url("../images/house/m_icon15.png");
  }
  &.icon16{
    background-image: url("../images/house/m_icon16.png");
  }
  &.icon17{
    background-image: url("../images/house/m_icon17.png");
  }
  &.icon18{
    background-image: url("../images/house/m_icon18.png");
  }
  &.icon19{
    background-image: url("../images/house/m_icon19.png");
  }
  &.icon20{
    background-image: url("../images/house/m_icon20.png");
  }
  &.icon21{
    background-image: url("../images/house/m_icon21.png");
  }
}

.active{
  .m_icon{
    &.icon1{
      background-image: url("../images/house/m_iconh1.png");
    }
    &.icon2{
      background-image: url("../images/house/m_iconh2.png");
    }
    &.icon3{
      background-image: url("../images/house/m_iconh3.png");
    }
    &.icon4{
      background-image: url("../images/house/m_iconh4.png");
    }
    &.icon5{
      background-image: url("../images/house/m_iconh5.png");
    }
    &.icon6{
      background-image: url("../images/house/m_iconh6.png");
    }
    &.icon7{
      background-image: url("../images/house/m_iconh7.png");
    }
    &.icon8{
      background-image: url("../images/house/m_iconh8.png");
    }
    &.icon9{
      background-image: url("../images/house/m_iconh9.png");
    }
    &.icon10{
      background-image: url("../images/house/m_iconh10.png");
    }
    &.icon11{
      background-image: url("../images/house/m_iconh11.png");
    }
    &.icon12{
      background-image: url("../images/house/m_iconh12.png");
    }
    &.icon13{
      background-image: url("../images/house/m_iconh13.png");
    }
    &.icon14{
      background-image: url("../images/house/m_iconh14.png");
    }
    &.icon15{
      background-image: url("../images/house/m_iconh15.png");
    }
    &.icon16{
      background-image: url("../images/house/m_iconh16.png");
    }
    &.icon17{
      background-image: url("../images/house/m_iconh17.png");
    }
    &.icon18{
      background-image: url("../images/house/m_iconh18.png");
    }
    &.icon19{
      background-image: url("../images/house/m_iconh19.png");
    }
    &.icon20{
      background-image: url("../images/house/m_iconh20.png");
    }
    &.icon21{
      background-image: url("../images/house/m_iconh21.png");
    }
  }
}
