@import "../../core/base";

.tz-neighbor-detail{
  .neighbor{
    @extend %flex;

    .img-box{
      @include wh(rem(90),rem(90));
      min-width:rem(90);
      @include border-radius(50%);
      border:1px solid $grayLight;

      img{
        height:100%;
      }
    }

    .con{
      @include wh(100%,auto);
      padding-left:rem(20);
      overflow: hidden;

      .p2{
        width:100%;
        @extend %flex;
        color:$gray;
        margin-top:rem(15);

        em{
          @extend %ellipsis-basic;
          width:60%;
        }
      }
    }
  }

  .neighbor-content{
    @include wh(auto,auto,rem(40));
    margin-top:rem(40);
  }

  .neighbor-thumbs{
    padding-left:rem(27);
    background: #fff;
    .img-box{
      background: #fff;
      margin-top:rem(20);
      @include wh(rem(216),rem(216),rem(214));
      border:1px solid $grayLight;
      float:left;
      margin-right:rem(24);

      &.simple{
        @include wh(100%,auto);
      }
    }
  }

  .neighbor-bar{
    @extend %flex;
    overflow: hidden;
    @include wh(auto,rem(70),rem(70));
    padding:0 rem(27);
    background: #fff;
    .box{
      width:50%;

      &:nth-child(1){
        @extend %ellipsis-basic;
      }

      &:nth-child(2){
        text-align: right;
      }

      .icon{
        @include wh(rem(70),rem(70));
      }
    }
  }

  .total{
    @include wh(auto,rem(71),rem(71));
    border-top:1px solid $grayLight;
  }

  .thumbs-list{
    background: #fff;
    border-top:1px solid $grayLight;
    .item{
      padding:rem(20) rem(27);
      @include display-flex();
      border-bottom:1px solid $grayLight;

      .img-box{
        margin-right:rem(10);
        @include wh(rem(40),rem(40));
        @include border-radius(50%);

        img{
          height:100%;
        }
      }

      p{
        color:$blue;
      }
    }
  }

  .comment-list{
    background: #fff;
    border-top:1px solid $grayLight;
    .item{
      padding:rem(30) rem(27);
      border-bottom:1px solid $grayLight;
    }

    .img-box{
      margin-right:rem(10);
      @include wh(rem(70),rem(70));
      min-width:rem(70);
      @include border-radius(50%);

      img{
        height:100%;
      }
    }

    .con-box{
      width:100%;

      .con{
        margin-top:rem(20);
      }
    }
  }
}

.tz-msg-send{
  background: $grayLighter;
  @extend %tz-msg-send;
}
