@import "../../core/base";

/*物业首页*/
.h2{
  @include wh(auto,rem(75),rem(75));
  font-size:rem(26);
  overflow: hidden;

  .change{
    float: right;
    @include wh(rem(74),rem(36),rem(34));
    text-align: center;
    border:1px solid $primary;
    @include border-radius(rem(8));
    color:$primary;
    font-size:rem(24);
    margin-top:rem(20);
  }
}
.menu-property{
  @extend %flex;
  background: #ffffff;

  .menu{
    @include wh(rem(250),rem(250));
    text-align: center;
    border-right:1px solid $grayLight;
    font-size: rem(24);

    &:active{background-color: $bg;}
    &:last-child{border-bottom: none;}
  }
  .img{
    height:rem(40);
    max-width: 100%;
    margin-top:rem(79);
  }
  .p{
    margin-top: rem(20);
  }
}

/*物业服务费*/
.table{
  @include wh(100%,auto);

  thead>tr>td{
    height:rem(79);
    color:$gray;
    font-size:rem(22);
  }
  tbody>tr>td{
    height:rem(73);
    font-size:rem(24);
    border-bottom: 1px solid $grayLight;
  }
  .link{
    display:block;
    text-align: right;
    .img{
      @include wh(rem(19),rem(19));
    }
  }
}

/*物业缴费详情*/
.bill{
  margin-top:rem(30);
  @include wh(auto,rem(351));
  @include border-radius(rem(8));
  color:#fff;
  background: #f7724c;
  padding:rem(35);
  font-size:rem(24);

  p:nth-child(1){
    padding-bottom:rem(20);
    border-bottom: 1px solid $white;
  }
  p:nth-child(2){
    height:rem(130);
    font-size:rem(48);
    margin-top:rem(20);
  }
  p:nth-child(3){
    font-size:rem(28);
  }
}
.radio-title{
  padding:rem(40) 0;
  border-bottom: 1px solid $grayLight;

  .radio{
    margin-top:rem(5);
  }
  .txt{
    font-size:rem(30);
  }
}

.property-pay-money{
  padding-left:rem(27);
  @include wh(100%,rem(102),rem(102));
  min-width:rem(500);

  .cart-radio{
    float:left;
    @include wh(rem(100),rem(102),rem(102));
    min-width:rem(100);
    @include align-items(center);
  }
}

