@import "../../core/base";

/*商品搜索*/
.search-history{
  margin-bottom: rem(20);

  .link{
    text-align: center;
    display: block;
    float: left;
    @include border-radius(rem(8));
    @include wh(auto,rem(64),rem(64));
    min-width:rem(100);
    background: $grayLighter;
    font-size:rem(24);
    margin:rem(20) rem(20) 0 0;
    padding:0 rem(30);
  }
}
