@import "../../core/base";

.user-order-detail{
  .state{
    font-size:rem(44);
    color:#fff;
    background: $primary;
    padding:rem(20) rem(27);
  }

  .order-detail-list{
    border-top:1px solid $grayLight;
    background: #fff;
    .item{
      padding:0 rem(27);
      @extend %active;
      overflow: hidden;
    }

    .link{
      padding:rem(30) 0;
      font-size:rem(24);
      @extend %flex;
      border-bottom:1px solid $grayLight;
    }

    .img-box{
      @include wh(rem(120),rem(120),rem(120));
      min-width:rem(120);
      text-align: center;
      background: $grayLight;

      img{
        max-width: 100%;
        max-height: 100%;
      }
    }

    .con-box{
      width:100%;
      padding-left:rem(20);
      overflow: hidden;

      .p1{
        .tit{
          width:80%;
          float:left;
          @extend %ellipsis-basic;
        }
        .num{
          float:right;
        }
      }

      .p2{
        margin-top:rem(10);
        color:$gray;
      }

      .p3{
        margin-top:rem(10);
        em{
          font-size:rem(32);
          color:$primary;
          margin-right:rem(30);
        }

        .span{
          color:$gray;
          text-decoration:line-through;
        }
      }
    }
  }

  .order-total{
    background: #fff;
    font-size:rem(24);
    text-align: right;
    padding:rem(25) rem(27);
  }
}

.bottom-fixed{
  .link{
    display:block;
    float:right;
    @include wh(rem(156),rem(50),rem(48));
    color:#fff;
    @include border-radius(rem(8));
    border:1px solid #fff;
    margin:rem(26) 0;
    font-size:rem(24);
    margin-left:rem(20);
  }
}
