@import "../../core/base";

.btn-orange{
  width:auto;
  display:block;
  margin:rem(60) rem(27) 0;
  @include border-radius(rem(8));

  &.disabled{
    background: #F3A58E;
  }
}

.user-pay-password{
  overflow: hidden;
  background: #fff;
  .p1{
    text-align: center;
    margin-top:rem(210);
    font-size:rem(46);
  }
  .p2{
    text-align: center;
    margin-top:rem(40);
    font-size:rem(24);
  }
}
