@theme-color: #fd4915;

/**
* Header
*/
/*@header-background-color: #fff;
@header-title-color: #464646;
@header-text-color: #464646;
@header-arrow-color: #ccc;*/

/**
* search
*/
@search-cancel-font-color: #000;
@search-bg-color: #fff;
@search-placeholder-font-color: #bbbbbb;

/**
* x-number
*/
@number-button-font-color: #BBBBBB;
@number-input-font-color: #000;
@number-button-enabled-border-color: #BBBBBB;
@number-square-button-enabled-border-color: @number-button-enabled-border-color;
@number-round-button-enabled-border-color: @number-button-font-color;
@number-button-disabled-border-color: @number-button-enabled-border-color;
@number-round-button-disabled-border-color: @number-button-enabled-border-color;

/**
* radio
*/
@radio-checked-icon-color: #fd4915;
